<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--development DB-->
    <!--<add name="OHCMaster" connectionString="data source=75.126.168.31,7009; database=OHCMaster; User ID=OHC;Password=N@&amp;cSXjRavvO;Integrated Security = false;" providerName="System.Data.SqlClient" />
    <add name="HCStaginh" connectionString="data source=75.126.168.31,7009; database=OHCStaging; User ID=OHC;Password=N@&amp;cSXjRavvO;Integrated Security = false;" providerName="System.Data.SqlClient" />
    <add name="HCDevelopment" connectionString="data source=75.126.168.31,7009; database=OHCDevelopment; User ID=OHC;Password=N@&amp;cSXjRavvO;Integrated Security = false;" providerName="System.Data.SqlClient" />-->

    <!--Staging DB-->
    <add name="OHCMaster" connectionString="data source=staging-ohcappdbserver.cehkw5tyog3p.us-east-2.rds.amazonaws.com; database=OHCMaster; User ID=api_user;Password=N3f2C87fcxk9g4!;Integrated Security = false;" providerName="System.Data.SqlClient" />
    <add name="OHCStaging" connectionString="data source=staging-ohcappdbserver.cehkw5tyog3p.us-east-2.rds.amazonaws.com; database=OHCStaging; User ID=api_user;Password=N3f2C87fcxk9g4!;Integrated Security = false;" providerName="System.Data.SqlClient" />

    <!--Production DB-->
    <!--<add name="OHCMaster" connectionString="data source=production-ohcappdbserver.cehkw5tyog3p.us-east-2.rds.amazonaws.com; database=OHCMaster; User ID=api_user;Password=o7-{4G7H5xE976Mk_voh;Integrated Security = false;" providerName="System.Data.SqlClient" />
    <add name="OHCProduction" connectionString="data source=production-ohcappdbserver.cehkw5tyog3p.us-east-2.rds.amazonaws.com; database=OHCProduction; User ID=api_user;Password=o7-{4G7H5xE976Mk_voh;Integrated Security = false;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
</configuration>

